@{
    Layout = "_Layout";
    ViewData["Title"] = "Chat Page";
    string a = (ViewBag.Infor != null) ? ViewBag.Infor : "";
    <link href="../logo_main.ico" rel="shortcut icon" type="image/x-icon" />
}
<h1>
    Chuong khoai to selected @a
</h1>
