@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none !important;
}

button,
a {
    border: none;
    outline: none !important;
}

button.navbar-toggle {
    background-color: transparent;
    outline: none !important;
}

span.navbar-toggler-icon {
    width: 40px;
    height: 40px;
    outline: none;
}

span.navbar-toggler-icon:hover {
    background-color: none;
}

a.img-logo {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}

a.img-logo img {
    width: 80px;
    height: 100%;
}

button.btn-exit,
button.btn-exit:hover {
    background-color: #00dd99;
    color: white;
    width: 100px;
}

button.btn-exit i {
    filter: sepia(1);
}


/* Add background */

.bg-dark {
    background-color: rgb(2, 1, 1);
    color: white;
}


/* button.btn-type-active {
    font-size: 16px;
    font-weight: 800;
    width: 100%;
} */

.theme {
    display: flex;
    justify-content: space-around;
    height: 40px;
}

.active-type i.fas {
    width: 100%;
    height: 100%;
    align-items: center;
}

button.theme-transform {
    width: 50px;
    background: transparent;
}

.effect {
    font-weight: 800;
    font-size: 16px;
    align-items: center;
    border-bottom: 3px solid black;
}

span i.fa-times-circle {
    position: absolute;
    top: 5px;
    right: 20px;
}

button.type-actor {
    border-radius: 35%;
    outline: none;
}

button.type-actor:hover {
    background-color: #f9f3f3;
}

p.national {
    font-size: 16px;
}

p.national img {
    filter: saturate(1);
}

.box {
    height: 450px;
    border: 1px solid #333;
    box-shadow: 0 0 32px 15px rgba(0, 0, 0, 0.1);
}

.message-box {
    margin-top: 54px;
    overflow-y: auto;
    border: 2px solid #00dd99;
    box-shadow: 0 0 32px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

div.message_div {
    height: 40px;
}

input.message {
    height: 50px;
    width: 80%;
    text-align: center;
    border-radius: 24px;
    border: 1px solid rgb(228, 222, 222);
    position: absolute;
    bottom: 22px;
    left: 37.9625px;
    outline: none;
}

input.message:focus {
    border: #00dd99;
}

.border-message {
    border: 2px solid #00dd99;
    border-radius: 24px;
}

button.interactive {
    border: 1px solid rgb(228, 222, 222);
    border-radius: 8px;
}

button.btn-next-person {
    width: 40%;
    height: 45px;
    font-size: 25px;
    font-weight: 800px;
    background-color: #00dd99 !important;
    border: none;
    margin-bottom: 51px;
}

button.btn-next-person p {
    font-size: 16px;
    color: white;
}

.icon_next {
    width: 25px;
    height: 25px;
}

.Text-Meeting {
    color: #00dd99;
    font-size: 17px;
}

.img-couple img {
    /* display: block; */
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    background-color: black;
}

input.message:focus {
    border: 2px solid #00dd99;
}

.card {
    height: 100%;
    width: 30%;
}


/* Side Bar */

.rounded-circle {
    width: 120px;
    height: 120px;
}

.country {
    width: 25px;
    height: 25px;
}

.nation a {
    font-size: 13px;
}

.wrapper .sidebar {
    z-index: 1;
    background-color: #2f323a;
    position: fixed;
    top: 96px;
    width: 230px;
    height: calc(100% - 9%);
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
}

.wrapper .sidebar .sidebar-menu .profile img {
    margin: 20px;
}

.wrapper .sidebar .sidebar-menu h5 {
    color: white;
}

.wrapper .sidebar .sidebar-menu .item {
    width: 230px;
    overflow: hidden;
    float: inline-start;
}

.wrapper .sidebar .sidebar-menu .item li {
    display: block;
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
}

.wrapper .sidebar .sidebar-menu .item li a {
    color: #fff;
}

.like {
    filter: invert(1);
}

.wrapper.collapsed .sidebar {
    width: 70px;
}

.wrapper.collapsed .sidebar .profile img,
.wrapper.collapsed .sidebar h5,
.wrapper.collapsed .sidebar a span,
.wrapper.collapsed .sidebar .nation,
.wrapper.collapsed .like {
    display: none;
}

.wrapper.collapsed .sidebar .sidebar-menu .item {
    font-size: 24px;
}

.wrapper.collapsed .main-container {
    width: calc(100% - 70px);
    margin-left: 70px;
}

.wrapper .sidebar .sidebar-menu .item li:hover {
    background-color: aquamarine;
    transition: all 0.3s ease-in-out;
}

.wrapper.collapsed .sidebar .sidebar-menu .item li:hover a {
    color: rgb(71, 71, 204);
}